﻿<div id="cartModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
				<h4 class="modal-title" id="myModalLabel">@WebshopResources.Resources.YourShoppingCart</h4>
			</div>
			<div class="modal-body">
				<table class="table table-striped">
					<thead>
						<tr>
							<th>@WebshopResources.Resources.Name</th>
							<th>@WebshopResources.Resources.Amount</th>
							<th>@WebshopResources.Resources.TotalPrice</th>
						</tr>
					</thead>
					<tbody>
						<!-- ko foreach: cart.cartItems -->
						<tr class="item" data-bind="attr: { 'data-id': Id }">
							<td class="article-name" data-bind="text: Name"></td>
							<td class="article-name" data-bind="text: Amount"></td>
							<td class="article-price" data-bind="text: TotalPrice"></td>
							<td><button class="btn btn-sm btn-danger" data-bind="click: $root.cart.removeItem">@WebshopResources.Resources.RemoveItem</button></td>
						</tr>
						<!-- /ko -->
					</tbody>
				</table>
				<hr />
				<div class="total">
					@WebshopResources.Resources.Total: <strong><span data-bind="text: $root.cart.totalPrice"></span>$</strong>
					<span class='vat-description text-muted'>
						<small>
							<em>@WebshopResources.Resources.IncludingVAT <span data-bind="text: $root.cart.totalVat"></span>$</em>
						</small>
					</span>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">@WebshopResources.Resources.Close</button>
				<a href="/checkout/" id="btnCheckout" class="btn btn-primary" disabled="disabled">@WebshopResources.Resources.Checkout</a>
			</div>
		</div>
	</div>
</div>