﻿@{
	ViewBag.Title = "ApiPage";
}

<h2>Api Page</h2>
<div class="col-md-9">
	<div class="articles-wrapper row well">
		<div data-bind="foreach: articles">
			<div class="article col-sm-6 col-md-4" data-bind="attr: { 'data-id': ArticleId }">
				<div class="thumbnail" data-bind="click: $root.showDetails">
					<img data-bind="attr: { src: ImageUrl }" alt="...">
					<div class="caption">
						<h4 class="article-name" data-bind="text: Name"></h4>
						<p>@WebshopResources.Resources.Price: <span data-bind="text: Price" class="text-success"></span>$</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div id="detailsModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
				<h4 class="modal-title" id="myModalLabel">Details</h4>
			</div>
			<div class="modal-body">
				<p data-bind="text: currArticle().Display"></p>
				<p data-bind="text: currArticle().Color"></p>
				<p data-bind="text: currArticle().Cpu"></p>
				<p data-bind="text: currArticle().HardDrive"></p>
				
			</div>
		</div>
	</div>
</div>

@section Scripts {
	<script type="text/javascript">
		$(function () {
			var apiViewModel = function (model) {
				var self = this;
				self.articles = ko.observableArray(model);
				self.currArticle = ko.observable(model[0]);

				self.showDetails = function (item) {
					self.currArticle(item);
					$("#detailsModal").modal();
				}
			}

			$.ajax({
				url: "/api/articles",
				type: "GET",
				success: function (result) {
					ko.applyBindings(new apiViewModel(result));
				}
			});
		})
	</script>
}
