﻿@model webshop.Models.ShopViewModel
@{
	ViewBag.Title = WebshopResources.Resources.Home;
}

<div class="container">
	<div class="row">
		<div class="col-md-9">
			<div class="articles-wrapper row well">
				<div data-bind="foreach: articles">
					<div class="article col-sm-6 col-md-4" data-bind="attr: { 'data-id': ArticleId }">
						<div class="thumbnail">
							<img data-bind="attr: { src: ImageUrl }" alt="...">
							<div class="caption">
								<h4 class="article-name" data-bind="text: Name"></h4>
								<a href="#" data-bind="click: $root.showDetails">@WebshopResources.Resources.ShowDetails</a>
								<div class="article-details">
									<p>@WebshopResources.Resources.Color: <span data-bind="text: Color"></span></p>
									<p>@WebshopResources.Resources.HDD: <span data-bind="text: HardDrive"></span></p>
									<p>@WebshopResources.Resources.Display: <span data-bind="text: Display"></span></p>
									<p>@WebshopResources.Resources.CPU: <span data-bind="text: Cpu"></span></p>
								</div>
								<p>@WebshopResources.Resources.Price: <span data-bind="text: Price" class="text-success"></span>$</p>
								<p><a href="#" class="btn btn-cart btn-primary btn-sm btn-block" role="button" data-bind="click: $root.addToCart">@WebshopResources.Resources.AddToCart</a></p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<button class="btn btn-warning btn-block" data-bind="click: getMoreItems">@WebshopResources.Resources.MoreItems</button>
			</div>
		</div>
		<div class="col-md-3 cart-wrapper">
			<h4>@WebshopResources.Resources.YourShoppingCart: <span data-bind="text: cart.itemCount"></span> @WebshopResources.Resources.Items</h4>
			<button id="btnOpenCart" class="btn btn-success btn-block" data-bind="click: openCart">@WebshopResources.Resources.OpenCart</button>
		</div>
	</div>
</div>

<!-- cart modal-->
@Html.Partial("_ShoppingCart")
<!--/end of cart modal-->

@section Scripts {
	<script>
	//init js model
	$(function () {
		var model = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model.Articles));
		var cartModel = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model.CartModel));
		app.vat = @Model.VAT;
		app.init(model, cartModel);
	})
	</script>
}
