﻿@{
    ViewBag.Title = WebshopResources.Resources.ThankYou;
}

<div class="container">
	<div class="col-md-12 text-center">
		<h3>Thank you! Your order is under processing. We will send you an email with details in a few minutes.</h3>
		<a href="~/">Back to main page</a>
	</div>
</div>
