﻿.container {
	margin: 20px;
}

.articles-wrapper .thumbnail img {
	width: 150px;
	height: 150px;
}

.articles-wrapper .article .btn-cart {
	margin-top: 10px;
}

.articles-wrapper .article .article-details {
	display: none;
}

.val-message.text-danger { font-size: 12px; }