﻿<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
	@Styles.Render("~/Content/css/main")
</head>
<body>
    <div class="main-wrapper">
        @RenderBody()
    </div>
</body>
	@Scripts.Render("~/bundles/js/main", "~/bundles/jqueryval")
	@RenderSection("Scripts", false)
</html>
