﻿@model webshop.Models.CheckOutViewModel
@{
	ViewBag.Title = WebshopResources.Resources.Checkout;
}


<div class="container">
	<h3>@WebshopResources.Resources.RegisterToCompleteCheckout</h3>
	<form method="post" class="jumbotron" role="form">
		<div class="row">
			<div class="col-md-3">
				<div class="form-group">
					@Html.Label(WebshopResources.Resources.Title)
					@Html.TextBoxFor(m => m.Customer.Title, new { @class = "form-control", placeholder = "Title" })
					<p class="val-message text-danger">@Html.ValidationMessageFor(m => m.Customer.Title)</p>
				</div>
				<div class="form-group">
					@Html.Label(WebshopResources.Resources.FirstName)
					@Html.TextBoxFor(m => m.Customer.FirstName, new { @class = "form-control", placeholder = "First name" })
					<p class="val-message text-danger">@Html.ValidationMessageFor(m => m.Customer.FirstName)</p>
				</div>
				<div class="form-group">
					@Html.Label(WebshopResources.Resources.LastName)
					@Html.TextBoxFor(m => m.Customer.LastName, new { @class = "form-control", placeholder = "Last name" })
					<p class="val-message text-danger">@Html.ValidationMessageFor(m => m.Customer.LastName)</p>
				</div>
				<div class="form-group">
					@Html.Label(WebshopResources.Resources.Address)
					@Html.TextBoxFor(m => m.Customer.Address, new { @class = "form-control", placeholder = "Address" })
					<p class="val-message text-danger">@Html.ValidationMessageFor(m => m.Customer.Address)</p>
				</div>
				<div class="form-group">
					@Html.Label(WebshopResources.Resources.HouseNumber)
					@Html.TextBoxFor(m => m.Customer.HouseNumber, new { @class = "form-control", placeholder = "House number" })
					<p class="val-message text-danger">@Html.ValidationMessageFor(m => m.Customer.HouseNumber)</p>
				</div>
				<div class="form-group">
					@Html.Label(WebshopResources.Resources.ZipCode)
					@Html.TextBoxFor(m => m.Customer.ZipCode, new { @class = "form-control", placeholder = "Zipcode" })
					<p class="val-message text-danger">@Html.ValidationMessageFor(m => m.Customer.ZipCode)</p>
				</div>
				<div class="form-group">
					@Html.Label(WebshopResources.Resources.City)
					@Html.TextBoxFor(m => m.Customer.City, new { @class = "form-control", placeholder = "City" })
					<p class="val-message text-danger">@Html.ValidationMessageFor(m => m.Customer.City)</p>
				</div>
				<div class="form-group">
					@Html.Label(WebshopResources.Resources.Email)
					@Html.TextBoxFor(m => m.Customer.Email, new { @class = "form-control", type = "email", placeholder = "Email" })
					<p class="val-message text-danger">@Html.ValidationMessageFor(m => m.Customer.Email)</p>
				</div>
				<button type="submit" class="btn btn-primary btn-block">@WebshopResources.Resources.Submit</button>
			</div>
			<div class="col-md-6 col-md-offset-2">
				<table class="table table-striped">
					<thead>
						<tr>
							<th>@WebshopResources.Resources.Name</th>
							<th>@WebshopResources.Resources.Amount</th>
							<th>@WebshopResources.Resources.TotalPrice</th>
						</tr>
					</thead>
					<tbody>
						@foreach (var item in Model.Order.Items)
						{
							<tr class="item">
								<td class="article-name">@item.Name</td>
								<td class="article-name">@item.Amount</td>
								<td class="article-price">@item.TotalPrice</td>
							</tr>
						}
					</tbody>
				</table>
				<hr />
				<div class="total">
					@WebshopResources.Resources.Total: <strong>@Model.Order.TotalPriceVAT $</strong>
					<span class='vat-description text-muted'>
						<small>
							<em>@WebshopResources.Resources.IncludingVAT @Model.Order.TotalVAT $</em>
						</small>
					</span>
				</div>
			</div>
		</div>
	</form>
</div>